<div class="container center">
    <h2>Comisiones de Tesla<div class="span">bit</div></h2>
    <p><i>26/12/19</i> | Al día de la fecha, la comisión impuesta por el sistema es de 5% por sobre el precio al momento de efectuar una petición de Bitcoin.</p>
    <p>Recuerda que, luego de tu pedido de compra, tienes 30 minutos para que recibamos el pago.</p>
    <h3>¿Por qué 30 minutos?</h3>
    <p>Debido a las fluctuaciones del precio del Bitcoin (normalmente varía en U$D 300 dólares por día) creemos importante una rápida ejecución, para mantener tanto el pedido cómo la recepción de tu criptomoneda en órden.</p>
</div>