<div class="container center">
    <ul class="grid-4 minimal-list">
        <li>
            <img src="img/custom-icon/list.png" alt="" width="100%" />
            <h2 class="text-center">Requisitos</h2>
            <p>Para comprar criptomonedas en <span>Teslabit</span>, debemos tener tu documentación básica. <a href="/help/requirements">Leer más</a>.</p>
        </li>
        <li>
            <img src="img/custom-icon/commission.png" alt="" width="100%" />
            <h2 class="text-center">Comisiones</h2>
            <p>Tenemos bajos costos operativos, acercándote la tecnología y el ahorro a la palma de tu mano de manera sencilla. <a href="/help/commission">Leer más</a>.</p>
        </li>
    </ul>
</div>