<div id="intro" class="full-width full-height grid">
    <div class="grid-flex horizontal-center container margin-top">
        <!-- Texto introductorio -->
        <div id="main-text" class="padding">
            <h1 class="light-text">La economía del futuro, hoy</h1>
            <p class="light-text read-mode">Invierte en criptomonedas de forma sencilla</p>
            <a href="/user/sign-up" class="full-width-mobile input-night rounded padding text-center">
                <span class="margin padding"><i class="fas fa-user-plus" style="margin-right: 10px;"></i> Comenzar</span>
            </a>
        </div>

        <div id="animation" class="padding">        <!-- Entidades y animaciones -->
            <div id="chat" class="cursor-default"> <!-- Chat -->
                <div class="dron-message text-center">
                    <p>¿Quieres comprar BTC?</p>
                </div>
                <div class="cat-message text-center">
                    <p>¿Sirve para dominar al mundo?</p>
                </div>
            </div>                                  <!-- !Chat -->
            <div id="entities">                     <!-- Entidades -->
                <div class="entity-dron">
                    <img src="img/entity/dron.png" alt="" width="100%" />
                </div>
                <div class="entity-cat">
                    <img src="img/entity/cat.png" alt="" width="100%" />
                </div>
            </div>                                  <!-- !Entidades -->
        </div>                                      <!-- !Entidades y animaciones -->
    </div>
</div>
<!-- -->
<div id="whatIsTeslabit" class="full-width padding">
    <div class="grid-4 gap horizontal-center container">
        <h1 class="full-width text-center light-text">¿Por qué Teslabit?</h1>
        <div class="light-text text-center">
            <h2 class="fa fa-thumbs-up light-text"> <span>Fácil</span></h2>
            <p class="light-text">Precios finales y en pesos</p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa fa-sync light-text"> <span>Rápido</span></h2>
            <p class="light-text">Todas las transacciones se procesan en 24hrs</p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa fa-check light-text"> <span>Seguro</span></h2>
            <p class="light-text">Verificación manual de todas las transacciones</p>
        </div>
        <div class="box blur padding rounded text-center">
            <h2 class="fa fa-money"> <span class="dark-text">¡Comienza!</span class="input-dark"></h2>
            <p>Haz transacciones con nuestros servicios. <a href="/user/sign-up">¡Comienza ya!</a></p> 
        </div>
    </div>
</div>
<!-- -->
<div id="register" class="full-width padding margin-top">
    <div class="grid-4 gap horizontal-center container">
        <h1 class="full-width text-center light-text">¡Registrate en 3 pasos!</h1>
        <div class="light-text text-center">
            <h2 class="fa fa-envelope-square light-text"> <span>Tus credenciales</span></h2>
            <p class="light-text">Escribe tu email y contraseña preferida, <a href="/user/sign-up">aquí</a></p>
        </div>
        <div class="light-text text-center">
            <h2 class="fas fa-robot light-text"> <span>Verificate</span></h2>
            <p class="light-text">¿Eres humano? ¡Nosotros también!</p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa fa-user light-text"> <span>Entrá a tu perfil</span></h2>
            <p class="light-text">Tendrás acceso inmediato a tu perfil y podrás operar subiendo tu documentación</p>
        </div>
        <div class="box blur padding rounded text-center">
            <h2 class="fa fa-check"> <span class="dark-text">¡Listo!</span></h2>
            <p>Tan fácil como eso. ¡Bienvenido!</p> 
        </div>
    </div>
</div>
<!-- -->
<div id="contact" class="full-width full-height grid">
    <div class="grid-2 horizontal-center container">
        <div id="contacto" class="block full-width" style="height: 50px;margin-top: -50px;"></div>
        <h1 class="text-center light-text full-width">Contacto</h1>
        <form action="/send-email" method="POST" class="margin-top full-width">
            <div class="grid-2 gap">
                <input type="text" placeholder="Asunto" name="subject" class="full-width block horizontal-center-plus padding input-night rounded" />
                <input type="text" placeholder="Tu e-mail" name="email" class="full-width block horizontal-center-plus padding input-night rounded" required />
            </div>
            <textarea class="block horizontal-center-plus padding input-night rounded full-width" style="min-height: 150px" placeholder="Tu mensaje" name="message" required></textarea>
            <input type="submit" value="Enviar email" class="full-width center-plus padding input-night rounded" />
        </form>
    </div>
</div>
    <div id="particles-js"></div>
    <div id="moon"></div>
<script src="js/particles/particles.min.js"></script> 