<div id="index" class="full-width full-height grid-2 grid-mobile">     <!-- hero :: se usó .header-separator-hero (anteriormente) -->       
<div id="moon"></div>
    <main id="main-text" class="full-width-mobile center padding">
        <h1 class="light-text">La economía del futuro, hoy</h1>
        <p class="light-text read-mode">Invierte en criptomonedas de forma sencilla</p>
        <a href="/user/sign-up" class="full-width-mobile input-night rounded padding text-center">
            <span><i class="fas fa-user-plus margin"></i></span> <span class="margin">Comenzar</span>
        </a>
    </main>
    <div id="animation" class="full-width-mobile padding center">
        <div id="chat" class="cursor-default padding">
            <div class="grid dron-message padding text-center">
                <p style="margin-top: -10px;">¿Quieres comprar BTC?</p>
            </div>
            <div class="grid cat-message padding text-center"><p style="margin-top: -10px;">¿Sirve para dominar el mundo?</p></div>
        </div>
        <div id="entities" class="cursor-default">
            <div class="entity-dron"><img src="img/entity/dron.png" alt="" width="100%" /></div>
            <div class="entity-cat"><img src="img/entity/cat.png" alt="" width="100%" /></div>
        </div>
        
    </div>
<div id="particles-js"></div>

</div>                                              <!-- hero -->                                         
<div class="full-width full-height padding grid" style="position: relative;"> <!-- Inicio > Contacto -->
<div id="moon-contact"></div>
    <div class="container center" style="z-index: 200;">
        <div id="contacto" class="block full-width" style="height: 50px;margin-top: -50px;"></div>
        <h2 class="text-center light-text text-border">Contacto</h2>
        <form action="/contactus" method="POST" class="margin-top">
            <div class="grid-2 gap">
                <input type="text" placeholder="Asunto" name="subject" class="full-width block center-plus padding input-night rounded" />
                <input type="text" placeholder="Tu e-mail" name="email" class="full-width block center-plus padding input-night rounded" required />
            </div>
            <textarea class="block center-plus padding input-night rounded full-width" style="min-height: 150px" placeholder="Tu mensaje" required></textarea>
            <input type="submit" value="Enviar email" class="full-width center-plus padding input-night rounded" />
        </form>
    </div>
    <div id="space-contact"></div>
</div> <!-- Inicio > Contacto -->
<script src="js/particles/particles.min.js"></script> 
