<div id="whatIsTeslabit" class="grid cursor-default">
    <div class="grid-3 super-gap center container">
        <h1 class="full-width text-center light-text">¿Por qué Teslabit?</h1>
        <div class="light-text text-center">
            <h2 class="fa thumbs-up light-text"> <span>Fácil</span></h2>
            <p class="light-text">Precios finales y en pesos</p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa sync light-text"> <span>Rápido</span></h2>
            <p class="light-text">Todas las transacciones se procesan en 24hrs</p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa check light-text"> <span>Seguro</span></h2>
            <p class="light-text">Verificación manual de todas las transacciones</p>
        </div>
    </div>
</div>
<!-- -->
<div id="register" class="grid cursor-default">
    <div class="grid-3 super-gap center container">
        <h1 class="full-width text-center light-text">¡Registrate en 3 pasos!</h1>
        <div class="box blur padding text-center rounded hoverShadowGreen-box">
            <h2 class="fa envelope-open light-text" style="color: var(--textColor3);"> <span style="color: var(--textColor3);">Tus credenciales</span></h2>
            <p class="light-text">Escribe tu email y contraseña preferida, <a href="/user/sign-up">aquí</a></p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa alien light-text"> <span>Verificate</span></h2>
            <p class="light-text">¿Eres humano? ¡Nosotros también!</p>
        </div>
        <div class="light-text text-center">
            <h2 class="fa user light-text"> <span>Entrá a tu perfil</span></h2>
            <p class="light-text">Tendrás acceso inmediato a tu perfil y podrás operar subiendo tu documentación</p>
        </div>
    </div>
</div>
<!-- -->