<div id="intro" class="full-screen grid">
    <div id="particles-js"></div>
    <div id="moon"></div>
    <div class="grid-2 horizontal-center container margin-top fadeIn">
        <!-- Texto introductorio -->
        <div class="grid">
            <div id="grid-child" class="full-width">
                <h1 class="light-text">La economía del futuro, ¡hoy!</h1>
                <p class="light-text margin-bottom">Compra Bitcoin. Fácil, rápido y sin límites</p>
                <a href="/user/sign-up" class="night padding rounded text-center">
                    Comenzar
                </a>
            </div>
        </div>

        <div id="animation" class="grid">        <!-- wrapper de la animación -->
            <div class="notebook">
                <!-- imágen -->
            </div>
            <div class="graph">
                <!-- imágen -->
            </div>
        </div>                                      <!-- wrapper de la animación -->
    </div>
</div>
<!-- -->
<div id="whatIsTeslabit" class="grid full-screen super-gap cursor-default">
    <h1 class="full-width text-center light-text">¿Por qué Teslabit?</h1>
    <ul class="grid-3 super-gap center container padding no-margin minimal-list">
        <li class="text-center box padding shadow light rounded">
            <h2 class="fa thumbs-up"></h2>
            <h2>Fácil</h2>
            <p>Comisiones claras y precio final en pesos</p>
        </li>
        <li class="text-center box padding shadow light rounded">
            <h2 class="fa sync"></h2>
            <h2>Rápido</h2>
            <p>Tené tu plata en menos de 24 horas</p>
        </li>
        <li class="text-center box padding shadow light rounded">
            <h2 class="fa check"></h2>
            <h2>Seguro</h2>
            <p>Verificación de todas las transacciones y atención inmediata</p>
        </li>
    </ul>
    <a href="/user/sign-up#tutorial" id="startBtn" class="container night padding rounded center text-center">¡Comienza!</a>
    <div id="moon-delimiter"></div>
</div>
<!-- -->
<div id="register" class="grid full-screen super-gap cursor-default">
    <h1 class="full-width text-center light-text">Registrarse es muy simple</h1>
    <ul class="grid-3 super-gap center container no-padding no-margin minimal-list">
        <li class="text-center box padding shadow light rounded">
            <h2 class="fa users"></h2>
            <h2>Tus credenciales</h2>
            <p>Sólo necesitamos que registres tu email y contraseña preferida para unirte a nuestro exchange</p>
        </li>
        <li class="text-center box padding shadow light rounded">
            <h2 class="fa reddit-alien"></h2>
            <h2>Confirmación</h2>
            <p>¿Eres humano? ¡Nosotros también! Deberás indicarnos tu DNI para operar, una vez que te registres</p>
        </li>
        <li class="text-center box padding shadow light rounded">
            <h2 class="fa check"></h2>
            <h2>Listo</h2>
            <p>Ya estás listo para comprar todo el Bitcoin que necesites</p>
        </li>
    </ul>
    <a href="/user/sign-up#tutorial" id="startBtn" class="container night padding rounded center text-center">Registrarse</a>
</div>
<!-- -->
<div id="contact" class="full-screen grid padding">
    <div class="grid-2 center container">
        <div id="contacto" class="block full-width" style="height: 50px;margin-top: -50px;text-shadow: none;"></div>
        <h1 class="text-center night-text full-width">Contacto</h1>
        <p class="text-center full-width">Envianos un email o llama a <a class="light-text" href="tel:+543794001200">nuestro teléfono</a>, <span class="light-text">+54 379-4001-200</span>.</p>
        <form action="/send-email" method="POST" class="margin-top block full-width grid-2 super-gap">
            <div>
                <input type="text" placeholder="Asunto" name="subject" class="night block full-width padding rounded margin-bottom" />
                <input type="text" placeholder="Tu e-mail" name="email" class="night block full-width padding rounded margin-bottom" required />
            </div>
            <div class="grid gap">
                <textarea class="night block full-width padding rounded margin-bottom" style="min-height: 200px" placeholder="Tu mensaje" name="message" required></textarea>
                <input type="submit" value="Enviar email" class="block full-width padding night rounded" />
            </div>
        </form>
    </div>
</div>
<script src="js/particles/particles.min.js"></script> 
<script>
    $('body').addClass('introBg');
</script>