.alert.violet {
    background: var(--violet-transparent);
}
    .alert.violet p, .alert.red p {
        color: var(--light);
    }
.alert.green, .success {
    background: var(--green-transparent);
}
    .alert.green p, .success p {
        color: var(--black);
    }
.alert.red {
    background: var(--red-transparent);
    color: var(--light);
}
/* Fixed positioning */
.alert {
    width: 70%;
    left: 15%;
    bottom: var(--super-gap);
    position: fixed;
    z-index: 99;
}
/* Basic styling */
.alert p {
    line-height: 0;
}
.alert .close {
    cursor: pointer;
    margin-right: var(--gap);
}
/* Alert (not fixed) */
#warn, .warn {
    background: var(--violet-transparent);
}
#warn p, .warn p {
    color: var(--light);
}