@-webkit-keyframes float {
    0%{margin-top: -2.5px;}
    50%{margin-top: 2.5px;}
    100%{margin-top: -2.5px;}
}
@-moz-keyframes float {
    0%{margin-top: -2.5px;}
    50%{margin-top: 2.5px;}
    100%{margin-top: -2.5px;}
}
@keyframes float {
    0%{margin-top: -2.5px;}
    50%{margin-top: 2.5px;}
    100%{margin-top: -2.5px;}
}