footer {
    background: var(--lightFooter);
    color: var(--light);
    font-family: 'Roboto';
    align-items: center;
}
footer * {
    z-index: 29;
}
footer #social {
    font-family: 'icomoon';
}
footer #social a, footer #links a {
    color: var(--light);
}
footer #social a:hover {
    text-shadow: 0 1px 5px var(--green);
}