@media (max-width: 1279px) {
    #menu-navbar {
        width: 42px;
        height: 42px;
        font-size: 42px;
        line-height: 0;
        display: block;
        z-index: 99;
    }
    header h1 {
        text-align: right;
    }
    header nav {
        display: none;
    }
    header nav, header nav ul {
        display: none;
        width: 100vw;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
}
@media (max-width: 799px) {
    #menu-navbar {
        width: 42px;
        height: 42px;
        font-size: 42px;
        line-height: 0;
        display: block;
    }
    header #header-grid-2 {
        grid-template-columns: 48px auto;
    }
    header h1 {
        text-align: right;
    }
    header nav ul {
        overflow-y: auto;
    }
    header nav ul li {
        clear: both;
        float: left;
    }
    header nav .dropdown, header nav ul:hover .dropdown {
        display: none;
    }
}