@media (max-width: 1279px) {
    #menu-navbar {
        width: 42px;
        height: 42px;
        font-size: 42px;
        line-height: 0;
        display: block;
    }
    header h1 {
        text-align: right;
    }
    header nav {
        display: none;
    }
    header nav ul {
        width: 100%;
        position: fixed;
        top: 52px;
        left: 0;
        height: 100vh;
        position: fixed;
        background: var(--header2);
        overflow-y: auto;
        display: none;
    }
    header nav ul li {
        display: block;
    }
    header nav ul .dropdown {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1;
        display: none;
    }
}