
/* common */
#intro h1, #whatIsTeslabit h1, #register h1, #contact h1 {
    font-size: 36px;
}
#intro h1, #whatIsTeslabit h1, #register h1, #contact h1, #intro h2 span, #whatIsTeslabit h2 span, #register h2 span, #contact h2 span {
    font-family: 'Open Sans', sans-serif;
    margin-left: 5px;
}
#intro h2 span, #whatIsTeslabit h2 span, #register h2 span, #contact h2 span {
    color: var(--textColor4);
}
/* intro */
#intro {
    background: linear-gradient(0deg, rgba(14,14,58,1) 0%, rgba(12,70,116,1) 30%, var(--linkColor4) 100%);
    position: relative;
    z-index: 2;
}
#intro * {
    z-index: 6;
}
#moon {
    width: 300%;
    height: 185%;
    position: absolute;
    top: 40%;
    left: -150%;
    background: linear-gradient(90deg, var(--warn1) 0%, var(--warn2) 20%, var(--linkColor4) 100%);
    box-shadow: 0 0 50px var(--warn1);
    border-radius: 350%;
    z-index: 3;
}
#space-contact {
    width: 300%;
    height: 150%;
    position: absolute;
    top: -50%;
    left: -150%;
    background: linear-gradient(0deg, rgb(64, 32, 151) 0%, var(--header2) 100%);
    z-index: 20;
}
/* whatIsTeslabit */
#whatIsTeslabit {
    z-index: 6;
}
/* register */
#register {
    z-index: 6;
}
/* contact */
#contact {
    background: linear-gradient(0deg, var(--warn2) 100%, #fafafa 0%);
    z-index: 2;
}
#contact * {
    z-index: 6;
}
/* animations */
#chat, #entities {
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    z-index: 25;
}
.dron-message, .cat-message {
    width: 239px;
    height: 147px;
    float: left;
    background: url('../img/entity/chat-box.png') center;
    background-size: contain;
    background-repeat: no-repeat;
}
.dron-message {
    margin-top: -20px;
}
.cat-message {
    float: right;
}
.cat {
    float: right;
}
.dron-message p, .cat-message p {
    color: var(--textColor4);
}
.entity-dron {
    width: 40%;
    float: left;
    position: absolute;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.entity-cat {
    width: 45%;
    float: right;
}