#intro {
    background: var(--blue);
    background: -moz-linear-gradient(top, var(--blue) 0%, var(--lightHeader) 75%, var(--lightHeader) 100%);
    background: -o-linear-gradient(top, var(--blue) 0%, var(--lightHeader) 75%, var(--lightHeader) 100%);
    background: -ms-linear-gradient(top, var(--blue) 0%,var(--lightHeader) 75%,  var(--lightHeader) 100%);
    background: linear-gradient(to top, var(--blue) 0%, var(--lightHeader) 75%, var(--lightHeader) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4134f7', endColorstr='#27d0e6', GradientType=1 );
    z-index: 11;
    min-height: 60vh;
}
#intro *, #whatIsTeslabit *, #register *, #contact * {
    z-index: 21;
}
#intro h1, #whatIsTeslabit h1, #register h1, #contact h1 {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: var(--light);
}
#intro p {
    font-size: 26px;
    color: var(--light);
    display: block;
}
#intro a.night {
    width: 50%;
    font-size: 22px;
    margin-top: 30px;
    padding: 15px;
    display: block;
}
#moon {
    width: 150%;
    height: 180%;
    position: absolute;
    top: 10%;
    left: -65%;
    background: linear-gradient(0,var(--darkBlue)0,var(--blue)50%,var(--skyBlue)100%);
    box-shadow: 0 0 50px var(--darkBlue);
    border-radius: 85%;
    z-index: 19;
    opacity: .8;
}
#particles-js {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 18;
    width: 100%;
    height: 80%;
}
@supports (-ms-ime-align:auto) { /* delete the moon from MS Edge */
    #moon {
        display: none;
    }
    #particles-js {
        display: none;
    }
}
/* right image */
#animation {
    margin-top: -100px;
    position: relative;
}
#animation .notebook {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 417px;
    height: 441px;
    background: url('../img/index/new/notebook.png') center;
    background-size: contain;
}
#animation .graph {
    position: absolute;
    top: 90px;
    left: 120px;
    width: 238px;
    height: 196px;
    background: url(../img/index/new/graph.png)center;
    background-size: contain;
    animation: horizontalMovement 3s ease-in-out infinite;
}
@keyframes horizontalMovement {
    0% {
        left: 120px;
    }
    50% {
        left: 80px;
    }
    100% {
        left: 120px;
    }
}
/* whatIsTeslabit */
#whatIsTeslabit {
    /* background: linear-gradient(180deg, var(--blue) 0%, var(--blue) 85%, var(--darkBlue) 100%); */
    background: var(--blue);
}
#whatIsTeslabit ul li {
    color: var(--black);
}
#register {
    /* background: linear-gradient(180deg, var(--darkBlue) 0%, var(--darkViolet) 100%); */
    background: var(--blue);
}
#whatIsTeslabit, #register, #contact {
    padding-bottom: 200px;
    z-index: 92;
}
#whatIsTeslabit h2 span, #register h2 span {
    color: var(--light);
    margin-left: 5px;
    font-family: 'Open Sans';
}
#whatIsTeslabit p, #register p {
    color: var(--light);
}
#whatIsTeslabit .box p, #register .box p {
    color: var(--black);
}
#whatIsTeslabit .fa, #whatIsTeslabit .fas, #register .fa, #register .fas {
    color: var(--light);
}
/* contact */
#contact {
    /* background: linear-gradient(180deg, var(--darkViolet) 0%, var(--lightFooter) 60%); */
    background: linear-gradient(180deg, var(--darkBlue) 0%, var(--lightFooter) 100%);
}
#contact * {
    z-index: 24;
    text-shadow: none;
}
/* sign-in, sign-up */
#sign-in.container, #sign-up.container {
    width: 50%;
}
#sign-in .grid-2, #sign-up .grid-2 {
    grid-template-columns: 48px auto;
}