#intro, .introBg {
    background: var(--blue);
    background: -moz-linear-gradient(top, var(--blue) 0%, var(--lightHeader) 75%, var(--lightHeader) 100%);
    background: -o-linear-gradient(top, var(--blue) 0%, var(--lightHeader) 75%, var(--lightHeader) 100%);
    background: -ms-linear-gradient(top, var(--blue) 0%,var(--lightHeader) 75%,  var(--lightHeader) 100%);
    background: linear-gradient(to top, var(--blue) 0%, var(--lightHeader) 75%, var(--lightHeader) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4134f7', endColorstr='#27d0e6', GradientType=1 );
}
#intro {
    z-index: 11;
    min-height: 60vh;
}
#intro *, #whatIsTeslabit *, #register *, #contact * {
    z-index: 22;
}
#intro.full-screen, #contact.full-screen {
    min-height: 50vh;
}
#intro h1, #whatIsTeslabit h1, #register h1, #contact h1 {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: var(--light);
}
#intro p {
    font-size: 26px;
    color: var(--light);
    display: block;
}
#intro a.night {
    width: 50%;
    font-size: 22px;
    margin-top: 30px;
    padding: 15px;
    display: block;
}
#moon {
    width: 220%;
    height: 150%;
    position: absolute;
    top: 21%;
    left: -100%;
    background: linear-gradient(90deg,var(--violet)0,var(--skyBlue)30%,var(--blue)100%);
    box-shadow: 0 0 50px var(--darkBlue);
    border-radius: 85%;
    opacity: 0.9;
    z-index: 9;
}
#particles-js {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 80%;
}
@supports (-ms-ime-align:auto) { /* delete the moon from MS Edge */
    #moon {
        display: none;
    }
    #particles-js {
        display: none;
    }
}
/* right image */
#animation {
    margin-top: -100px;
    position: relative;
}
#animation .notebook {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 417px;
    height: 441px;
    background: url('../img/index/new/notebook.png') center;
    background-size: contain;
}
#animation .graph {
    position: absolute;
    top: 90px;
    left: 120px;
    width: 238px;
    height: 196px;
    background: url(../img/index/new/graph.png)center;
    background-size: contain;
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
/* whatIsTeslabit */
#whatIsTeslabit, #register {
    position: relative;
    z-index: 20;
}
#moon-delimiter {
    width: 100%;
    height: calc(200% + 25px);
    background: var(--darkBlue);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
/* #whatIsTeslabit ul li, #register ul li {
    color: var(--light);
    z-index: 23;
} */
#whatIsTeslabit.full-screen, #register.full-screen {
    min-height: 30vh;
    padding: 50px 0 50px 0;
}
#whatIsTeslabit h2 span, #register h2 span {
    color: var(--light);
    margin-left: 5px;
    font-family: 'Open Sans';
}
#whatIsTeslabit p, #register p {
    color: var(--light);
}
#whatIsTeslabit .box, #register .box {
    border: none;
    color: var(--light);
    background: var(--blue);
    box-shadow: 0 0 10px var(--black);
}
#whatIsTeslabit .box:hover, #register .box:hover {
    background: var(--light);
    color: var(--black);
}
#whatIsTeslabit .box p, #register .box p, #whatIsTeslabit .box h2, #register .box h2, #whatIsTeslabit .box .fa, #register .box .fa {
    color: inherit;
}
#whatIsTeslabit #startBtn.container, #register #startBtn.container {
    width: calc(25% - 20px);
}
#whatIsTeslabit ul, #register ul {
    padding: 0 0 20px 0;
}
#whatIsTeslabit ul li.padding, #register ul li.padding {
    padding: 30px var(--super-gap) 30px var(--super-gap);
}
/* contact */
#contact {
    /* background: linear-gradient(180deg, var(--darkViolet) 0%, var(--lightFooter) 60%); */
    position: relative;
    background: transparent;
    z-index: 20;
}
#contact #background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--lightFooter);
    z-index: -1;
}
#contact h2 {
    z-index: 20;
}
#contact form input, #contact form textarea {
    text-shadow: none;
    z-index: 20;
}
/* sign-in, sign-up */
#sign-in.container, #sign-up.container {
    width: 50%;
}
#sign-in.grid, #sign-up.grid {
    display: grid;
}
#sign-in .grid-2, #sign-up .grid-2 {
    grid-template-columns: 48px auto;
}