/*  Common  */
.light:disabled, .night:disabled, input:required:invalid {
    opacity: 0.8;
    border: 1px solid var(--red);
}
.light:disabled:hover, .night:disabled:hover {
    background: var(--red);
    color: var(--light);
    cursor: not-allowed;
}
/* Light */
.light {
    transition: all 0.3s ease-in-out;
    background: var(--light-transparent);
    color: var(--black);
    font-family: 'Roboto';
    font-size: 17px;
    border: 1px solid var(--green);
    padding: 10px;
    /* you can add margin via CSS classes */
}
.light:hover, .light:focus {
    border: 1px solid var(--skyBlue);
}
.light:hover:valid {
    border: 1px solid var(--green);
    background: var(--green-transparent);
}
/* Light bold */
.light.bold {
    background: var(--green-transparent);
    border: 1px solid var(--green);
    color: var(--black);
}
/* Night */
.night {
    transition: all 0.3s ease-in-out;    
    background: var(--black-transparent);
    color: var(--light);
    font-family: 'Roboto';
    font-size: 17px;
    border: 1px solid var(--green);
    padding: 10px;    /* you can add margin via CSS classes */
}
.night:hover, .night:focus {
    color: var(--light);
    text-shadow: 0 0 2px var(--light);
    border: 1px solid var(--violet);
}