a.light, button.light, input.light, textarea.light {
    background: var(--light-transparent);
    color: var(--black);
    font-family: sans-serif;
    font-size: 17px;
    border: 1px solid var(--green);
    padding: 10px;
    /* you can add margin via CSS classes */
}
a.night, button.night, input.night, textarea.night {
    background: var(--black-transparent);
    color: var(--light);
    font-family: sans-serif;
    font-size: 17px;
    border: 1px solid var(--green);
    padding: 10px;
    /* you can add margin via CSS classes */
}