nav {
    display: none;
    width: 100%;
    position: fixed;
    top: 73px;
    background: var(--lightHeader);
    z-index: 58;
}
nav * {
    z-index: 68;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: block;
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
    margin: var(--gap) 0 var(--gap) 0;
    padding: var(--gap) 0 var(--gap) 0;
}
nav ul li a {
    color: var(--light);
}
nav ul li a:hover {
    color: var(--darkBlue);
}
nav ul .dropdown {
    display: none;
}
nav ul li:hover .dropdown {
    display: block;
}
/* links */
nav a {
    font-size: 24px;
    color: var(--black);
}