@media (max-width: 799px) {
    /* Tamaños */
    .container {
        width: 90%;
    }
    /* Grillas */
    .grid-6 {grid-template-columns: repeat(2, 1fr);}
    .grid-4 {grid-template-columns: 1fr;}
    .grid-2 {grid-template-columns: 1fr;}
}