<div class="grid" id="main">     <!-- principal -->
    <div id="arsValue" class="grid-2 gap margin-top">
        <p class="inline" style="margin-top: 35px;"><img src="img/crypto/arg.jpg" width="32" height="32" id="currencyImg" /></p>
        <div>
            <p>Importe a pagar (<span id="currency2">AR$</span>)</p>
            <input type="text" class="light rounded" name="moneyQuantity" id="moneyQuantity" autocomplete="off" placeholder="PESOS">
        </div> 
    </div>
    <div id="btcValue" class="grid-2 gap margin-top">
        <p class="inline" style="margin-top: 35px;"><img src="img/crypto/btc.png" width="32" height="32" /></p>
        <div>
            <p>Recibes en BTC</p>
            <input type="text" class="light rounded" id="cryptocurrencyQuantity" name="amount" autocomplete="off" placeholder="BTC" class="text-right">
        </div>
    </div>
    <p id="success" class="text-legend text-center padding">¡Bien! Esto cumple con el monto mínimo de 0.01 BTC</p>
    <p id="warn" class="text-legend padding rounded" style="color: var(--light);display: none;">El monto mínimo es de 0.01 BTC, ¡compra un poco más!</p>
    <p class="text-center padding">Precios finales con <a href="/help/commission">comisiones</a> incluídas.</p>
    <div id="selector" class="grid-2 gap container center">
        <button type="button" class="light margin-top rounded" disabled="true">Atrás</button>
        <button type="button" class="light margin-top rounded cursor-pointer" id="nextBtn1">Siguiente</button>
    </div>
    
</div>                                      <!-- !principal -->
<!-- Información para sendEmail -->
<input type="hidden" value="Tu compra de {{cryptocurrency.name}} en Teslabit" name="subject" />