<div class="grid" id="main">     <!-- principal -->
    <div id="arsValue" class="grid-2 gap margin-top">
        <input type="text" class="light rounded" name="moneyQuantity" id="moneyQuantity" autocomplete="off" placeholder="PESOS">
        <p class="inline margin-left">pesos Argentinos.</p>
    </div>
    <div id="btcValue" class="grid-2 gap margin-top">
        <input type="text" class="light rounded" id="cryptocurrencyQuantity" name="amount" autocomplete="off" placeholder="BTC" value="{{cryptocurrency.min}}" class="text-right">
        <p class="inline margin-left">{{cryptocurrency.name}} serían</p>
    </div>
    <p id="success" class="text-legend text-center">¡Bien! Esto cumple con el monto mínimo de 0.01 BTC</p>
    <p id="warn" class="text-legend">El monto mínimo es de 0.01 BTC, ¡compra un poco más!</p>
    <p class="text-center"><a href="/help/commission">Precios finales con comisiones incluídas</a>.</p>
    </div>
    <button type="button" class="full-width light margin-top rounded" id="nextBtn1" onclick="step_showWallet();" disabled="true">Siguiente</button>
</div>                                      <!-- !principal -->
<!-- Información para sendEmail -->
<input type="hidden" value="Tu compra de {{cryptocurrency.name}} en Teslabit" name="subject" />
{{!--   
    {{#if data }}
        <div class="text-center success margin-top cursor-default">Precio actual (<i id="time">0s</i>): U$D {{data.last}}</div>
    {{/if}} 
--}}