{{#if success_msg}}
    <a onclick="this.style.display = 'none';" class="no-border cursor-pointer"><div class="alert-bottom fixed padding warn rounded">
        <p> <i class="far fa-window-close close"></i>
            {{ success_msg }}
        </p>
    </div></a>
{{/if}}
{{#if error_msg}}
    <a onclick="this.style.display = 'none';" class="no-border cursor-pointer"><div class="alert-bottom fixed padding warn rounded">
        <p> <i class="far fa-window-close close"></i>
            {{ error_msg }}
        </p>
    </div></a>
{{/if}}
{{#if error}}
    <a onclick="this.style.display = 'none';" class="no-border cursor-pointer"><div class="alert-bottom fixed padding warn rounded">
        <p> <i class="far fa-window-close close"></i>
            {{ error }}
        </p>
    </div></a>
{{/if}}
{{#each errors}}
    <a onclick="this.style.display = 'none';" class="no-border cursor-pointer"><div class="alert-bottom fixed padding warn rounded">
        <p> <i class="far fa-window-close close"></i>
            {{ text }}
        </p>
    </div></a>
{{/each}}