<div class="grid-2" id="finish" style="display: none;">
    <div>
        <h2>Ya casi está...</h2>
        <p>Revisa las opciones, ¿quieres continuar?</p>
    </div>
    <table class="full-width">
        <thead>
            <th>Monto a pagar</th>
            <th>A dónde enviaremos los {{cryptocurrency.name}}</th>
            <th>Criptomoneda a comprar</th>
        </thead>
        <tr class="text-center">
            <th class="padding" id="t_amountToBuy"></th>
            <th class="padding" id="t_walletDir"></th>
            <th class="padding" id="t_cryptocurrency"></th>
        </tr>
    </table>
    <h3>Un último paso</h3>
    <p>Ingresa con tu cuenta de Tesla<span>bit</span> para que esta transacción se registre en tu cuenta y puedas ver el estado de tu operación.</p>
    <p>¿No tienes una cuenta? <a href="/user/sign-up">Registrate</a>.</p>
    <div class="grid-2 gap">
        <input type="text" name="email" placeholder="Tu email" class="padding full-width rounded input-light">
        <input type="password" name="password" placeholder="Tu contraseña" class="padding full-width rounded input-light">
    </div>
    <div class="grid-2 gap">
        <input type="submit" value="Continuar" class="cursor-pointer input-light rounded padding margin-top">
        <button type="button" onclick="restart();" class="cursor-pointer input-light rounded padding margin-top">¡Espera! Quiero cambiar algo</button>
    </div>
</div>