<div id="finish" style="display: none;">
    <div>
        <h2>Ya casi está...</h2>
        <p>Revisa las opciones, ¿quieres continuar?</p>
    </div>
    <table class="full-width">
        <thead>
            <th>Cantidad de {{cryptocurrency.name}}</th>
            <th>Monto a pagar</th>
            <th>Monedero</th>
        </thead>
        <tr class="text-center">
            <th class="padding" id="t_amountToBuy"></th>
            <th class="padding" id="t_money"></th>
            <th class="padding" id="t_walletDir"></th>
            {{!-- <th class="padding" id="t_cryptocurrency"></th> --}}
        </tr>
    </table>
    <div id="checker" class="grid-2 gap margin padding full-width">
        <h3>¿Todo correcto?</h3>
        <button type="button" id="restarter" class="cursor-pointer light rounded margin-bottom">¡Espera! Quiero volver atrás</button>
    </div>
    
    {{!-- <div id="selector" class="grid-2 gap container center">
        
        <input type="submit" value="Continuar" class="cursor-pointer light rounded margin-bottom">
    </div> --}}
    <h2>Un último paso</h2>
    <p>Para operar en Teslabit, debes iniciar sesión o registrarte.</p>
    <p>Te crearemos una cuenta en este último paso, en caso de que no exista.</p>
    <div class="grid-2 super-gap">
        <input type="text" name="email" id="" placeholder="Tu email" class="light rounded margin-bottom" />
        <input type="password" name="password" id="" placeholder="Tu contraseña" class="light rounded margin-bottom" />
    </div>
    <p>Confirma tu contraseña y presiona <span class="pulseText">Continuar</span>.</p>
    <div class="grid-2 super-gap">
        <input type="password" name="password2" id="" placeholder="Confirma tu contraseña" class="light rounded margin-bottom" />
        <input type="hidden" name="recaptchaToken" id="recaptcha-token" />
        <input type="submit" value="Continuar" class="light rounded margin-bottom cursor-pointer" />
    </div>
</div>