<footer class="full-width grid padding">
    <div class="container center grid-2 gap">
        <div class="grid padding"> <!-- Sólo para centrar verticalmente los objetos <3 -->
            <ul id="social" class="minimal-list text-center">
                <li class="inline"><a href="#"><div class="fab facebook inline"></div></a></li>
                <li class="inline"><a href="#"><div class="fab linkedin inline"></div></a></li>
                <li class="inline"><a href="#"><div class="fab youtube inline"></div></a></li>
            </ul>
        </div>
        <div class="grid-2 padding"> <!-- Sólo para centrar verticalmente los objetos <3 -->
            <div class="text-center"><a href="/">Teslabit&copy</a></div>
            <div class="text-center" id="links">
                <a href="/buy/bitcoin">Comprar</a> | <a href="/#contacto">Contacto</a> | <a href="tel:+543794001200">Llama</a> al +54 379-4001-200
            </div>
        </div>
    </div>
</footer>