<footer class="full-width">
    <div class="container center grid-2 gap">
        <div id="social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square fb"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin in"></i></a></li>
            </ul>
        </div>
        <div class="padding margin text-center">Teslabit&copy</div>
    </div>
</footer>