<header class="blur">
    <div class="grid-2 container center padding">
        <div class="brand">
            <h1><div id="logo" class="margin-right not-mobile"></div> <a href="/">Tesla<span>bit</span></a></h1>
        </div>
        <a onclick="openNavBar();" class="menu"><i class="fas bars"></i></a>
    </div>
</header>

<nav class="blur">
    <ul class="grid-2 container center padding">
        <li>
            <a href="/"><i class="fas home"></i> Inicio</a>
        </li>
        <li>
            <a href="/buy/bitcoin"><i class="fas btc"></i> Comprar</a>
        </li>
        {{#if user }}
        <li>
            <a href="/user/profile"><i class="fas user"></i> Mi cuenta</a>
        </li>
        <li>
            <a href="/user/log-out"><i class="fas key"></i> Cerrar sesión</a>
        </li>
        {{else}}
        <li>
            <a href="/user/sign-in"><i class="fas user"></i> Ingresar</a>
        </li>
        {{/if}}
        <li>
            <a href="/#contact"><i class="fas envelope-open"></i> Contacto</a>
        </li>
        <li>
            <a href="/help"><i class="fas question-circle"></i> Ayuda</a>
        </li>
    </ul>
</nav>
<script>
    function openNavBar() {
        $('nav').css('display', 'block');
        $('nav ul').css('display', 'block');
        $('.menu').attr("onclick","closeNavBar()");
    }
    function closeNavBar() {
        $('nav').css('display', 'none');
        $('nav ul').css('display', 'none');
        $('.menu').attr("onclick","openNavBar()");
    }

    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
        if (scroll >= 150)
            $('header').addClass('fixed');
        else 
            $('header').removeClass('fixed');
    });
</script>