<div class="grid full-screen center">
    <div id="particles-js"></div>
    <div class="container center box blur padding">
        <h2 class="text-center">¡Muy bien! Te hemos enviado un email</h2>
        <div class="read-width center">
            <p class="read-mode">Toda la información será enviada a <strong>{{email}}</strong>. Allí verás las cuentas disponibles dónde podemos recibir tu pago y tendrás que respondernos con tu <strong>comprobante de pago</strong>.</p>
            <p class="read-mode">Luego de tu depósito, tendrás tu dinero en menos 24 horas.</p>
            <p class="read-mode">Debido a la fluctuación que tiene BTC, tienes 30 minutos para efectuar el pago. Luego del vencimiento, puedes simplemente generar otro pedido.</p>
            <p class="read-mode">Un saludo cordial,<br />
            Atte. Staff de Tesla<span>bit</span>.</p>
        </div> 
    </div>
</div>
<script src="js/particles/particles.min.js"></script> 
<script>
    $('body').addClass('introBg');
</script>