{{!-- <div id="tutorial" class="alert violet bottom padding grid-2 gap">
    <p>¿Quieres que te ayudemos con el registro?</p>
    <div class="grid-2 gap">
        <button class="light">Si</button>
        <button class="light">No</button>
    </div>
</div> --}}

<div id="intro" class="full-screen grid" style="min-height: 100vh;">
    <div id="particles-js"></div>
    <div id="moon"></div>
    <div id="sign-up" class="container center grid">
        <form action="/user/sign-up" method="POST" class="center box blur rounded padding"> <!-- Formulario de cuenta -->
            <div id="title" class="grid-2 gap padding margin-bottom">
                <div id="logo"></div>
                <h1 class="text-center" style="line-height: 0;text-align: left;color: var(--black);">Registrate</h1>
            </div>
            
            <input type="text" placeholder="E-mail" name="email" id="email" class="full-width margin-bottom light rounded" required autofocus />
            <input autocomplete="new-password" type="password" placeholder="Contraseña" name="password" id="password" class="full-width margin-bottom light rounded" required />
            <input autocomplete="new-password" type="password" placeholder="Confirmá tu contraseña" name="password2" id="password2" class="full-width margin-bottom light rounded" required />
            <!-- <p>(Google Captcha aquí)</p> implementación: https://www.npmjs.com/package/express-recaptcha#installation -->
            <div id="alert" class="full-width padding text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"></div>
            <input type="hidden" name="token" id="recaptcha-token" value="" />
            <input type="submit" value="Registrarme" id="submitBtn" class="full-width margin-bottom light rounded" />
            <p style="color: var(--black);font-size: 18px;">¿Ya tienes una cuenta? <a href="/user/sign-in">Ingresar</a></p>
        </form>
    </div> 
</div>
<script>
    grecaptcha.ready(function() {
    grecaptcha.execute('6LfqUc4UAAAAAOKopCAGuzHndVy-Hgk6mA6nsiI2', {action: 'login'})
        .then(function(token) {
            document.querySelector('#recaptcha-token').value = token;
        });
    });
</script>
<script src="js/sign-up-control.js"></script>
<script src="js/particles/particles.min.js"></script> 
<script>
    $('body').addClass('introBg');
</script>