<div id="intro" class="full-screen grid" style="min-height: 100vh;">
    <div id="particles-js"></div>
    <div id="moon"></div>
    <div id="sign-in" class="container center grid">
        <form action="/user/sign-in" method="POST" class="center box blur rounded padding">
            <div id="title" class="grid-2 gap padding margin-bottom">
                <div id="logo"></div>
                <h1 class="text-center" style="line-height: 0;text-align: left;color: var(--black);">Ingresa</h1>
            </div>

            <input type="text" placeholder="Email" name="email" id="email" class="full-width margin-bottom light rounded" autofocus required />
            <input type="password" autocomplete="new-password" placeholder="Contraseña" name="password" id="password" class="full-width margin-bottom light rounded" required />
            <div id="alert" class="full-width padding text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"></div>
            <input type="hidden" name="recaptchaToken" id="recaptcha-token" />
            <input type="submit" value="Ingresar" id="submitBtn" class="full-width light rounded" />
            <p style="color: var(--black);font-size: 18px;">¿No tienes una cuenta? <a href="/user/sign-up">Regístrate</a></p>
        </form>
    </div> 
</div>
<script>
    grecaptcha.ready(function() {
    grecaptcha.execute('6LfqUc4UAAAAAOKopCAGuzHndVy-Hgk6mA6nsiI2', {action: 'login'})
        .then(function(token) {
            document.querySelector('#recaptcha-token').value = token;
        });
    });
</script>
<script src="js/sign-in-control.js"></script>
<script src="js/particles/particles.min.js"></script> 
<script>
    $('body').addClass('introBg');
</script>