{{!-- <div id="tutorial" class="alert violet bottom padding grid-2 gap">
    <p>¿Quieres que te ayudemos con el registro?</p>
    <div class="grid-2 gap">
        <button class="light">Si</button>
        <button class="light">No</button>
    </div>
</div> --}}

<div class="full-width full-height hero1 grid">
    <div id="sign-up" class="container center grid">
        <form action="/user/sign-up" method="POST" class="center box blur rounded padding"> <!-- Formulario de cuenta -->
            <div id="title" class="grid-2 gap padding margin-bottom">
                <div id="logo"></div>
                <h1 class="text-center" style="line-height: 10px;text-align: left;">Registrate</h1>
            </div>
            
            <input type="text" placeholder="E-mail" name="email" id="email" class="full-width margin-bottom light rounded" required autofocus />
            <input autocomplete="new-password" type="password" placeholder="Contraseña" name="password" id="password" class="full-width margin-bottom light rounded" required />
            <input autocomplete="new-password" type="password" placeholder="Confirmá tu contraseña" name="password2" id="password2" class="full-width margin-bottom light rounded" required />
            <!-- <p>(Google Captcha aquí)</p> implementación: https://www.npmjs.com/package/express-recaptcha#installation -->
            <div id="alert" class="full-width padding text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"></div>
            <input type="submit" value="Registrarme" id="submitBtn" class="full-width margin-bottom light rounded" />
            <p>¿Ya tienes una cuenta? <a href="/user/sign-in">Ingresar</a></p>
        </form>
    </div> 
</div>
<script src="js/sign-up-control.js"></script>