<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teslabit | Ahorra sin impuestos ni límites</title>
    <!-- CSS Principal -->
    <link rel="stylesheet" href="css/main.min.css" />
    <link rel="stylesheet" href="css/nav.min.css" />
    <link rel="stylesheet" href="css/grid.min.css" />
    <link rel="stylesheet" href="css/text.min.css" />
    <link rel="stylesheet" href="css/link.min.css" />
    <link rel="stylesheet" href="css/header.min.css" />
    <link rel="stylesheet" href="css/effects.min.css" />
    <!-- CSS Responsive (add-ons) -->
    <link rel="stylesheet" href="css/main-responsive.min.css" />
    <link rel="stylesheet" href="css/header-responsive.min.css" />
    <link rel="stylesheet" href="css/alert-responsive.min.css" />
    <link rel="stylesheet" href="css/text-responsive.min.css" />
    <link rel="stylesheet" href="css/grid-responsive.min.css" />
    <link rel="stylesheet" href="css/buy-responsive.min.css" />
    <link rel="stylesheet" href="css/profile-responsive.min.css" />
    <!-- CSS de teslabit -->
    <link rel="stylesheet" href="css/index.min.css" />
    <link rel="stylesheet" href="css/index-responsive.min.css" />
    <link rel="stylesheet" href="css/profile.min.css" />
    <link rel="stylesheet" href="css/buy.min.css" />
    <link rel="stylesheet" href="css/input.min.css" />
    <link rel="stylesheet" href="css/alert.min.css" />
    <link rel="stylesheet" href="css/table.min.css" />
    <link rel="stylesheet" href="css/animations.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:700&display=swap" rel="stylesheet" />
    <!-- Fonts Awesome (via Icomoon) -->
    <link rel="stylesheet" href="css/icomoon.min.css" />
    <!-- Crypto Font -->
    {{!-- <link rel="stylesheet" href="css/cryptofont.min.css" /> --}}
</head>
<body>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script> <!-- JQuery -->
    <!-- Google Recaptcha v3 -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LfqUc4UAAAAAOKopCAGuzHndVy-Hgk6mA6nsiI2"></script>
    {{> errors }}
    {{> header }}
    {{{ body }}}
    {{> footer }}
    <script>
        function openNavBar() {
            $('#mobileNav').css('display', 'block');
            $('#mobileNav ul').css('display', 'block');
            $('.menu').attr("onclick","closeNavBar()");
        }
        function closeNavBar() {
            $('#mobileNav').css('display', 'none');
            $('#mobileNav ul').css('display', 'none');
            $('.menu').attr("onclick","openNavBar()");
        }

        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
            if (scroll >= 150)
                $('header').addClass('fixed');
            else 
                $('header').removeClass('fixed');
        });
        setTimeout(function(){ document.querySelector('.grecaptcha-badge').style.display = 'none'; }, 1000);

    </script>
</body>
</html>